$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1260px,
);

$blue: #007fc7;
$dark-blue: #0f4c81;

$green: #00dd66;

$red: #ff5e56;
$gray: #555555;
$green-gray: #b7cbc9;
$light-gray: #eee;
