@import 'custom';
@import 'fonts';
@import 'fluid-type';
@import '~bootstrap/scss/bootstrap';
@import '~lightbox2/dist/css/lightbox.css';
//@import './../../fonts/font-awesome/css/all.min.css';

@import '~swiper/swiper-bundle.css';

.btn {
  @include fluid-type(14px, 18px);

  &-default {
    border-radius: 15px;
    background-color: $red;
    height: 100px;
    padding: 0 70px;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;

    &:hover {
      background-color: rgba($red, 0.8);
    }

    @include media-breakpoint-down(sm) {
      height: auto;
      padding: 20px 10px;
    }
  }

  &-download {
    display: inline-block;
    width: 140px;
    padding-left: 0;
    padding-right: 0;
    background: $red url(../../img/download.svg) no-repeat center center;
    background-size: 40%;
  }
}

h2 {
  color: $gray;
  @include fluid-type(26px, 48px);
  margin: 1.5em 0 1em;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  font-weight: bold;

  @include media-breakpoint-down(sm) {
    white-space: normal;
  }

  &:after {
    content: '';
    display: inline;
    height: 3px;
    background: $red;
    width: 100%;
    margin-left: 1em;
    margin-bottom: 0.55em;

    @include media-breakpoint-down(sm) {
      width: 30%;
    }
  }
}

body {
  background-color: unset;
  background: url(../../img/eggs1.svg) no-repeat -10% 100vh / cover,
    linear-gradient(222.07deg, #c4c4c4 -17.13%, $light-gray 53.51%);

  background-size: 120%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: $gray;
  @include fluid-type(16px, 18px);

  @include media-breakpoint-down(sm) {
    background: url(../../img/eggs1.svg) repeat-y top center / contain,
      linear-gradient(222.07deg, #c4c4c4 -17.13%, $light-gray 53.51%);
  }

  &.home {
    header {
      background: url(../../img/home-bg.jpg) no-repeat center center / cover;
      min-height: 90vh;
      padding-bottom: 75px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: inherit;
      height: 100%;

      @include media-breakpoint-down(sm) {
        min-height: 100vh;
      }

      nav {
        ul#menu-top-menu {
          li {
            a {
              color: #fff;
            }
          }
        }
      }

      h1 {
        font-weight: bold;
        color: #fff;
        padding: 1em 0;
        @include fluid-type(36px, 120px);
      }

      p {
        color: #fff;
        font-weight: bold;
      }
    }
  }

  &.page-template-default {
    background: url(../../img/eggs1.svg) no-repeat top left / cover,
      linear-gradient(222.07deg, #c4c4c4 -17.13%, $light-gray 53.51%);

    article {
      h2 {
        margin: 1.5em 0 1em;
      }

      h1 {
        @extend h2;
      }

      p {
        @include fluid-type(16px, 24px);
        line-height: 2em;
        // padding: 0.5em 0 1.5em;

        padding: 0.5em 0 1em;
      }
    }
  }

  &.post-template-default.single-post {
    h1 {
      @include fluid-type(24px, 44px);
      margin: 1em 0;
    }

    .page-content {
      table td,
      table th {
        border: 1px solid #33333369;
        padding: 0.2em 0.6em;
      }

      table tr:nth-child(2n-1) {
        background: #85ada940;
      }

      table th {
        background: #85ada99c;
      }

      p {
        padding: 0.3em 0 0.7em;
      }
    }
  }
}

header {
  padding-top: 100px;

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
  }

  nav {
    .gohome {
      @extend .btn-default;
      width: 100px;
      height: 100px !important;
      padding: 0 0px;
      background-color: unset !important;
      background: url(../../img/logo.png) no-repeat 50% 50% / contain;

      @include media-breakpoint-down(sm) {
        border-radius: 0px;
        width: 60px;
        height: 60px !important;
        margin-top: -4px;
      }
    }

    .show-menu {
      @extend .btn-default;
      background: #eee;
      width: 100px;
      height: 100px !important;
      border-radius: 15px;
      padding: 0 0px;

      @include media-breakpoint-down(sm) {
        border-radius: 15px;
        width: 50px;
        height: 50px !important;
      }
    }

    ul#menu-top-menu {
      height: 100%;
      display: flex;
      justify-content: normal;
      flex-direction: row;
      align-items: center;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        justify-content: center;
      }

      li {
        padding-left: 25px;
        padding-right: 25px;

        a {
          color: $gray;
          font-weight: bold;
        }
      }
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: #fff;
      padding-top: 50px;
      transition: 0.5s all ease-in-out;

      &.closed {
        top: -100%;
      }

      li {
        padding: 10px 0;

        a {
          padding: 15px 15px 15px 30px;
          font-weight: 600;
          color: $gray;
          font-size: 1.3em;
        }
      }

      a.close {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 10px 15px;
        margin-top: -15px;

        &:before {
          content: '';
          width: 100%;
          background: #333;
          height: 2px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(45deg);
        }

        &:after {
          content: '';
          width: 100%;
          background: #333;
          height: 2px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

main {
  padding-top: 25px;
  padding-bottom: 75px;
}

.front-icon {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: 70%;
  filter: drop-shadow(-25px 25px 150px rgba(0, 0, 0, 0.1));

  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-top: 100%;
    opacity: 0.7;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    background-size: 60% !important;
  }

  & + p {
    @include fluid-type(14px, 16px);
    margin: 40px 25px 40px 0;
    text-align: left;
    display: flex;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
      background: #fff;
      width: 100%;
      margin: 0;
      margin-bottom: 3em;
      padding: 2em;
      border-radius: 0 0 15px 15px;
    }

    &:before {
      content: url(../../img/arrow-red.svg);
      display: inline-block;
      margin-right: 25px;
    }
  }
}

.panel {
  &-image {
    width: 100%;
    height: 100%;
    background: $light-gray;
    border-radius: 15px;
    box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);
  }
  &-v1 {
    border-radius: 15px;
    background: $light-gray;
    box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);
    position: relative;

    &__part1 {
      z-index: 20;
    }

    &__part2 {
      margin-top: -15px;
      z-index: 10;

      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }
    }

    .top {
      background: $red;
      text-align: center;
      padding: 1em 10px;
      border-radius: 15px 15px 0 0;
      font-weight: bold;
      color: #fff;
      @include fluid-type(18px, 24px);
    }

    .bottom {
      padding: 1.7em 30px 2em 30px;
      font-weight: 600;
      line-height: 2em;
      position: relative;
    }
  }

  &-v2 {
    background: $light-gray;
    padding: 32px 42px 57px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);

    &:after {
      background: $red;
      content: '';
      width: 100%;
      height: 25px;
      bottom: 0;
      left: 0;
      position: absolute;
    }

    &:nth-last-child(n + 2) {
      padding-bottom: 107px;
    }
    &:nth-child(n + 2) {
      margin-top: -100px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
  }

  &-v3 {
    background: $light-gray;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);

    @include media-breakpoint-down(sm) {
      margin-top: 1em;
    }

    .top {
      background: $red;
      font-weight: bold;
      text-align: center;
      padding: 1em 0.5em;
      color: #fff;
      @include fluid-type(16px, 24px);
    }

    .image {
      padding-top: 56%;
    }

    .bottom {
      padding: 40px 30px 20px;
      font-weight: 600;
      max-height: 320px;
      line-height: 1.8em;
      transition: 0.5s all linear;
      @include fluid-type(12px, 14px);

      &.open {
        max-height: 2500px;
      }

      p {
        margin-bottom: 0;
        @include fluid-type(12px, 14px);
      }

      span {
        display: flex;
        position: absolute;
        width: calc(100% - 60px);
        padding-bottom: 20px;
        padding-top: 10px;
        bottom: 0;
        flex-direction: column;
        text-align: center;
        background: $light-gray;
        cursor: pointer;

        &:before {
          content: 'Развернуть';
          color: $red;
        }
        &:after {
          content: url(../../img/arrow-3-down.svg);
        }
      }
    }
  }

  &-v4 {
    @extend .panel-v3;

    .top {
      font-weight: 600;
      padding: 0.65em 0.5em;
      @include fluid-type(16px, 18px);
    }

    .bottom {
      padding: 30px 30px 70px;
    }
  }
}

a.more {
  display: block;
  text-align: right;
  color: $red;
  margin-top: 5px;
  position: absolute;
  bottom: 0.4em;
  right: 30px;
  @include fluid-type(10px, 12px);

  &:after {
    content: url('../../img/arrow-3.svg');
    margin-left: 7px;
    position: relative;
    bottom: -1px;
  }
}

.blog-list {
  &__item {
    border-radius: 15px;
    background: #fff;
    height: 100%;

    .image {
      height: 280px;
      border-radius: 15px 15px 0 0;
    }

    .bottom {
      font-weight: 600;
      padding: 20px 30px 2.5em;
      @include fluid-type(12px, 14px);

      @include media-breakpoint-down(sm) {
        padding-bottom: 5em;
      }
      a.more {
        bottom: 1em;

        @include media-breakpoint-down(sm) {
          width: 100%;
          right: 0;
          bottom: 2em;
          text-align: center;
        }
      }
    }
  }
}

footer {
  background: $green-gray;
  padding-top: 80px;
  padding-bottom: 80px;

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.social-pages-links {
  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: inline-flex;
    height: 35px;
    width: 35px;
    background: $red;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none !important;
    margin-right: 40px;

    @include media-breakpoint-down(sm) {
      margin-right: 0px;
    }
  }
}

.links-block {
  padding-top: 80px;

  .download-link {
    font-weight: 600;
    color: $gray;
  }

  @include media-breakpoint-down(sm) {
    & > div {
      margin-bottom: 1em;
    }
  }
}

.principles {
  .principles-item + .principles-item {
    margin-top: 50px;
  }
}

.stages {
  .stage-item {
    margin-bottom: 50px;

    &:nth-child(2n) {
      .stage-text {
        border-radius: 15px 0 0 15px;
        border-right: 15px solid $red;
        border-left: unset;

        span {
          right: 60px;
        }
      }
    }

    .num {
      font-weight: 300;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      color: $red;
      border: 3px solid $red;
      border-radius: 50%;
      margin-bottom: 50px;

      & + span {
        display: block;
        height: calc(100% - 160px);
        position: relative;

        @include media-breakpoint-down(md) {
          display: none;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 12px;
          text-align: center;
          height: calc(100% - 100px);
          background: $red;
          width: 3px;
          margin-left: calc(50% - 1.5px);
        }

        &:after {
          content: url('../../img/small-arrow-down.svg');
          position: absolute;
          bottom: 0;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .stage-text {
    background: $light-gray;
    padding: 30px 30px 100px;
    box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);
    max-height: 27em;
    position: relative;
    overflow: hidden;
    transition: 0.5s max-height linear;

    border-radius: 0 15px 15px 0;
    border-right: unset;
    border-left: 15px solid $red;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 94px;
      bottom: 0;
      left: 0;
      background: $light-gray;
      border-radius: 15px;
      z-index: 0;
    }

    &.open {
      max-height: 300em;
      padding-bottom: 20px;

      &:after {
        display: none;
      }
    }

    h4 {
      @include fluid-type(20px, 35px);
      font-weight: bold;
    }

    p,
    ul li {
      font-weight: 600;
      padding-bottom: 0.8em;
      @include fluid-type(16px, 24px);
    }

    span {
      display: flex;
      position: absolute;
      width: calc(100% - 60px);
      padding-bottom: 20px;
      padding-top: 10px;
      bottom: 0;
      flex-direction: column;
      text-align: center;
      background: $light-gray;
      cursor: pointer;
      width: auto;
      align-items: center;
      z-index: 1;

      &:before {
        content: 'Развернуть';
        color: $red;
      }
      &:after {
        content: url(../../img/arrow-3-down.svg);
      }
    }
  }
}

.process-stages {
  &__item {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);
    background: $light-gray;

    & + & {
      margin-top: 65px;
    }

    &.active {
      .top {
        color: $light-gray;
        background: $red;
      }
    }

    .top {
      background: #c4c4c4;
      font-weight: 600;
      color: $light-gray;
      padding: 30px;
      text-align: center;
      @include fluid-type(16px, 18px);
    }

    .bottom {
      padding: 30px;
      font-weight: 600;
      @include fluid-type(16px, 24px);
    }
  }
}

.wpcf7 > form {
  border-radius: 15px;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);
  background: $light-gray;
  padding: 50px 30px;

  label {
    font-weight: 600;
    margin-bottom: 2.5em;
  }

  .wpcf7-text,
  .wpcf7-textarea {
    width: 100%;
    background: #e5e5e5;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 1em;
    outline: unset !important;

    &:hover,
    &:focus {
      border: 2px solid $red;
    }
  }

  .wpcf7-form-control-wrap {
    margin-top: 1.5em;
    display: block;
  }

  .wpcf7-submit {
    margin: 0 auto;
    padding: 10px 20%;
    height: auto;
    border-radius: 5px;
    font-weight: bold;
    @include fluid-type(16px, 18px);

    @include media-breakpoint-down(sm) {
      padding: 10px 30px;
      width: 100%;
    }
  }

  .wpcf7-radio {
    & > span {
      display: block;
      font-size: 12px;

      label {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 0.1em;

        input[type='radio'] {
          height: 1px;
          width: 1px;
          opacity: 0.01;

          &:checked {
            & + span:before {
              background: $red;
              border: 2px solid $red;
            }
          }

          & + span {
            display: flex;
            align-items: center;

            &:before {
              content: '';
              background: #e5e5e5;
              border: 2px solid #c4c4c4;
              box-sizing: border-box;
              border-radius: 5px;
              width: 25px;
              height: 25px;
              display: inline-block;
              margin-right: 25px;
              transition: 0.3s all linear;
            }
          }
        }
      }
    }
  }
}

.member {
  background: #eeeeee;
  box-shadow: -25px 25px 150px rgba(0, 0, 0, 0.1);

  & + & {
    margin-top: 50px;
  }

  img {
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__text {
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-weight: bold;
      margin-bottom: 1em;
      @include fluid-type(18px, 24px);
    }

    b {
      font-weight: bold;
    }
  }
}

ul.red {
  font-weight: 600;
  font-size: 24px;
  line-height: 2em;

  li {
    margin-bottom: 1em;
    list-style-type: none;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: #f00;
      border-radius: 50%;
      left: -1.5em;
      position: absolute;
      top: 0.6em;
    }
  }
}

.todo-img-2 {
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: unset;
  }
}
